*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    max-width: 900px;
    width:90%;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
    margin:40px auto;
    border :20px solid #0077ff;
}
h1{
    color: #de4b04;
    margin-bottom: -8px;
    padding-top: 20px;
    font-size: 36px;
}
img{
    display: block;
    max-width: 100%;
    margin:30px auto 0 auto;
}
h3{
    color:#de4b04;
   
}
p{
    font-size: 18px;
}
.sub-head{
    display: inline-block;
   margin:20px 0 10px 0;
   font-size: 22px;
   box-shadow: 0 2px 1px 0 #ff938d;
}
ul{
    list-style: none;
    max-width: 600px;
    text-align: left;
    line-height: 2;
    margin:0 auto;
}
li{
    margin: 0 0 20px 0;
}
span{
    font-size: 25px;
    color:#de4b04;
    font-weight: bold;
}
